<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prayutsu.sckribbel">
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".play.GameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GameTheme">

        </activity>
        <activity
            android:name=".register.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register.SignupActivity"></activity>
        <activity android:name=".register.LoginActivity" />
        <activity android:name=".room.StartJoinActivity" />
        <activity android:name=".room.StartGameActivity" />
        <activity android:name=".room.GameResultsActivity" />
        <activity
            android:name=".room.RoomActivity"
            android:noHistory="false"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>